@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

table {
  border-collapse: collapse;
  padding: 10px;
  width: 100%;
  text-align: center;
}

td,
th {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: rgba(221, 221, 221, 0.417);
}

a {
  color: blue;
}
